.node-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.node-title {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-button {
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin-left: 10px;
    color: #007bff;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assurez-vous qu'il est au-dessus des autres éléments */
}


.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 70%; /* Largeur maximale de 80% de l'écran */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre pour l'effet de profondeur */
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-buttons button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.modal-buttons button:hover {
    background-color: #0056b3;
}

.modal-buttons button:last-child {
    background-color: #dc3545;
}

.modal-buttons button:last-child:hover {
    background-color: #c82333;
}

.modal-overlay {
    z-index: 9999 !important;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    z-index: 1000; /* Assure que le modal soit au-dessus du contenu principal */
}


.relation-edit-line {
    padding-bottom: 2em
}

.alias-edit-line {
    padding-bottom: 2em
}